body{
	background-color: white;
	margin: 0;
	padding: 0;
	overflow-x: hiddens;
	opacity: 0.6;
}

.profile-header{
	padding: 10px 35px;

	box-shadow: 0 0 3px black;
	/*display: block;*/
}

.profile-header ul{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 5px;


}
.profile-header li {
	display: inline;
	padding-left: 45px;
}

.profile-header  a{
	text-decoration: none;
}